.business-show-container {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e6e6e6;
}

.business-show-component {
  min-width: 1000px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  padding-top: 30px;
  justify-content: space-around;
}

@media only screen and (max-width:1100px) {
  .business-show-component {
    padding: 30px 30px 0px 30px;
  }
  
  .business-reviews-section {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.business-info-section {
  height: 100px;
}

.business-name {
  font-size: 36px;
  font-weight: 900;
}

.rating-and-review-count {
  color: #666;
  margin: 5px 0;
}

.price-and-categories {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.business-price {
  display: inline;
  padding: 0;
  margin: 0;
}

.bullet-separator {
  display: inline;
  padding: 0;
  margin: 0;
  margin-left: 5px;
  font-size: 10px;
  color: #666;
}

.business-categories {
  display: flex;
  flex-direction: row;
}
.business-categories li {
  margin-left: 5px;
}
.business-categories li a {
  color: #0073bb;
}
.business-categories li a:hover {
  text-decoration: underline;
}

.business-graphic-info-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 191px;
}

.business-location-detail {
  width: 300px;
  border: 1px solid #ccc;
  padding: 5px;
  background: white;
}

.business-static-map-image {
  border: 1px solid #ccc;
}

.business-location-info ul li {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.business-location-info ul li i {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.image-trifold-list {
  display: flex;
  flex-direction: row;
}

.image-trifold-list li {
  width: 220px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-trifold-image {
  width: 220px;
  height: 220px;
  box-shadow: 0px 0px 2px 0px black;
  transition: width 0.25s, height 0.25s;
}
.image-trifold-image:hover {
  width: 250px;
  height: 250px;
  z-index: 2;
}

.business-reviews-section {
  background: white;
  min-width: 1000px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  padding: 30px;
  padding-top: 60px;
  align-items: center;

}
.business-reviews-content {
  width: 50%;
}

.business-review-list {
  display: flex;
  flex-direction: column;
}

.business-review-list-item {
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  border-top: 1px solid #e6e6e6;
}
.business-review-list-item:last-child {
  border-bottom: 1px solid #e6e6e6;
}

.review-list-item-user-information {
  width: 40%;
  display: flex;
  flex-direction: row;
  width: 200px;
}

.review-list-item-user-profile-picture {
  width: 60px;
  height: 60px;
}

.review-list-item-user-name-and-location {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.review-list-item-user-name {
  font-size: 14px;
  color: #0073bb;
  font-weight: 700;
}
.review-list-item-user-name:hover {
}

.review-list-item-user-location {
  font-weight: 700;
  font-size: 12px;
}

.review-list-item-review-information {
  width: 60%;
}

.review-list-item-rating-and-date {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.review-list-item-date {
  margin-left: 2px;
}

.review-list-item-review-content {
  font-size: 14px;
}

.user-review-edit-delete-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
}

.user-review-edit-delete-buttons button {
  padding: 0px 2px;
}

.user-review-edit-button {
  color: #757575;
}
.user-review-edit-button:hover {
  color: #1074B9;
}

.user-review-delete-button {
  color: #757575;
}
.user-review-delete-button:hover {
  color: #E60F1B;
}

.business-reviews-current-user-review-slot {
  padding-bottom: 30px;
}

.business-reviews-write-a-review-button-container {
  display: flex;
  justify-content: center;
}

.business-reviews-write-a-review-button {
  background-color: #d90007;
  color: white;
  width: 160px;
  height: 35px;
  text-align: center;
  border: 1px solid #8d0005;
  border-radius: 3px;
}
.business-reviews-write-a-review-button:hover {
  background-color: #E60F1B;
}

.business-review-form {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
}

.business-review-form-select {
  border: 1px solid #ccc;
  color: #757575;
}

.business-review-form-textarea {
  resize: none;
  height: 9em;
}

.business-review-form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.business-review-form-submit-button {
  background-color: #d90007;
  color: white;
  width: 160px;
  height: 35px;
  text-align: center;
  border: 1px solid #8d0005;
  border-radius: 3px;
}
.business-review-form-submit-button:hover {
  background-color: #E60F1B;
}

.business-review-form-cancel-button {
  color: #1074B9;
}
.business-review-form-cancel-button:hover {
  color: #E60F1B;
}


























