.business-show-container {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e6e6e6;
}

.business-show-component {
  min-width: 1000px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  padding-top: 30px;
  justify-content: space-around;
}

@media only screen and (max-width:1100px) {
  .business-show-component {
    padding: 30px 30px 0px 30px;
  }
}
.business-info-section {
  height: 100px;
}

.business-name {
  font-size: 36px;
  font-weight: 900;
}

.rating-and-review-count {
  color: #666;
  margin: 5px 0;
}

.price-and-categories {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.business-price {
  display: inline;
  padding: 0;
  margin: 0;
}

.bullet-separator {
  display: inline;
  padding: 0;
  margin: 0;
  margin-left: 5px;
  font-size: 10px;
  color: #666;
}

.business-categories {
  display: flex;
  flex-direction: row;
}
.business-categories li {
  margin-left: 5px;
}
.business-categories li a {
  color: #0073bb;
}
.business-categories li a:hover {
  text-decoration: underline;
}

.business-graphic-info-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 191px;
}

.business-location-detail {
  width: 300px;
  border: 1px solid #ccc;
  padding: 5px;
}

.business-static-map-image {
  border: 1px solid #ccc;
}

.business-location-info ul li {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.business-location-info ul li i {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.image-trifold-list {
  display: flex;
  flex-direction: row;
}

.image-trifold-list li {
  width: 220px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-trifold-image {
  width: 220px;
  height: 220px;
  box-shadow: 0px 0px 2px 0px black;
  transition: width 0.5s, height 0.5s;
}
.image-trifold-image:hover {
  width: 250px;
  height: 250px;
  z-index: 2;
}

.business-reviews-section {
  margin-top: 30px;
  background: white;
}








