.greeting-nav-container {
  display: flex;
  justify-content: center;
  background: #BB2226;
  height: 30px;
}

.greeting-nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  color: white;
}

.greeting-nav-links-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 200px;
}

.greeting-nav-button-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 200px;
}

.greeting-nav-button-list button {
  width: 50px;
}

.greeting-nav-user-profile-button {

}

.greeting-nav-logout-button {

}

.greeting-nav-login-button {

}

.greeting-nav-signup-button {

}
