.header-nav {
  min-width: 1000px;
  width: 100%;
  background-color: #D1262B;
  background-image: url(https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_styleguide/15ee41b0c3b2/assets/img/structural/header_stars@2x.png);
  background-repeat: no-repeat;
  background-size: 1135px auto, 100%;
  background-position-x: center;
  background-position-y: center;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  text-align: center;
  font-weight: 900;
}

.header-nav-logo {
  padding-top: 2px;
  width: 120px;
  height: 50px;
}
