.splash-search-component {
  height: 540px;
  width: 100%;
  background: #eee;
  background-image: url("ramen.jpg");
  background-size: 100% auto;
  background-position-y: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.splash-search-logo {
  width: 280px;
  height: 100px;
  margin-top: -100px;
  margin-bottom: 50px;
}

.splash-search-form {
  display: flex;
  flex-direction: row;
  font-size: 18px;
}

.splash-search-pseudo-form-input-field {
  width: 448px;
  height: 23px;
  background: white;
  display: flex;
  padding: 11px;
}

.splash-search-pseudo-form-input-field label {
  padding: 0 15px;
  height: 30px;
  color: #666;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-top: -3px;
}

.splash-search-field {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.splash-search-field input {
  width: 400px;
}

.splash-location-field {
  display: flex;
  width: 410px;
}

@media only screen and (max-width: 768px ) {
  .splash-location-field {
    margin-left: -1px;
  }
}

.splash-location-field label {
  border-left: 1px solid #ccc;
}

.splash-location-field input {
  width: 340px;
}

.splash-search-form-submit-button {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 100%;
  width: 65px;
  height: 45px;
  background-color: #D1262B;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  color: white;
}
.splash-search-form-submit-button:hover {
  background-color: #E21319;
}

.splash-search-links-ul {
  display: flex;
  flex-direction: row;
}

.splash-search-links-ul li {
  color: white;
  padding: 5px;
}
.splash-search-links-ul li a:hover {
  text-decoration: underline;
}


















