.splash-search-component {
  width: 100%;
  height: 600px;
  background: #eee;
  background-image: url("ramen.jpg");
  background-size: 100% auto;
  background-position-y: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.splash-search-logo {
  width: 280px;
  height: 100px;
  margin-top: -125px;
  margin-bottom: 25px;
}

.splash-search-form {
  display: flex;
  flex-direction: row;
  font-size: 18px;
}

.splash-search-pseudo-form-input-field {
  width: 480px;
  height: 45px;
  background: white;
  display: flex;
  align-items: center;
}

.splash-search-pseudo-form-input-field label {
  margin: 0 15px;
  color: #666;
  font-weight: 700;
}

.splash-search-field {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.splash-location-field {
  display: flex;
  justify-content: space-between;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.splash-search-form-submit-button {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 100%;
  width: 65px;
  background-color: #D1262B;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  color: white;
}
.splash-search-form-submit-button:hover {
  background-color: #E21319;
}






















