// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-page-content {
  min-width: 900px;
  height: 100%;
  min-height: 680px;
  overflow: hidden;
}

.session-page-main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  padding: 125px;

}

.session-errors-banner {
  background-color: #FBD6D4;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 16px 20px;
  width: 900px;
  margin: 0 auto;
  margin-top: 25px;
  border-radius: 3px;
}

.session-errors-banner-close {
  height: 24px;
  font-size: 16px;
  color: #999;
}
.session-errors-banner-close:hover {
  color: #928787;
}

.session-form {
  min-width: 300px;
  width: 300px;
  min-height: 300px;
  margin: 0 75px;
  margin-top: 25px;
}

.session-page-art-img {
  margin: 0 75px;
  height: 342px;
  width: 382px;
}

.session-form-top {
  text-align: center;
  font-weight: 700;
}

.session-form-top h2 {
  font-size: 22px;
  color: #D1262B;
  margin-bottom: 6px;
}

.session-form-top h4 {
  font-size: 14px;
  margin-bottom: 24px;
}
.session-form-top h4 a {
  color: #1074B9;
}
.session-form-top h4 a:hover {
  text-decoration: underline;
}


.demo-login-button {
  width: 100%;
  height: 36px;
  font-size: 14px;
  font-weight: 700;
  color: white;
  border-radius: 3px;
  text-align: center;
  background-color: rgb(59, 89, 152);
  box-shadow: 1px 1px 1px grey;
}
.demo-login-button:hover {
  background-color: #4363A5;
}

.hr-line {
  border: 1px solid #666;
  border-left: none;
  border-right: none;
  border-bottom: none;
  height: 0px;
  margin-top: 24px;
  padding-top: 24px;
  padding-bottom: 14px;
}

.hr-line legend {
  padding: 0 15px;
  margin: 0 auto;
  color: #666;
  top: 50px;
}

.session-form form {
  display: flex;
  flex-direction: column;
}
.session-form form input {
  height: 18px;
  padding: 5px 9px;
  border: 1px solid #999;
  border-radius: 3px;
  margin-bottom: 9px; 
}
.session-form form input[type="submit"] {
  background: #D1262B;
  color: white;
  text-align: center;
  font-weight: 700;
  height: 21px;
  font-size: 16px;
  padding: 12px 18px 13px 18px;
  border: 1px solid black;
  box-shadow: 1px 1px 1px grey;
  margin-bottom: 15px;
}
.session-form form input[type="submit"]:hover {
  background: #E21319;
}

.subtle-text {
  display: block;
  color: #999;
  font-size: 12px;
  text-align: right;
}
.subtle-text a {
  color: #1074B9;
}
.subtle-text a:hover {
  text-decoration: underline;
}


















